.mainOrderWaiter{
    display: flex;
}

.menuSection {
    width: 50vw;
    height: 70vh;
    margin-top: 5vh;
    margin-left: 5vw;
    /* flex-wrap: wrap;  */
    overflow: scroll;
    border-color: blueviolet;
}

.lunchdinner {
    border-color: rgba(137, 43, 226, 0.623);
    margin: 2vh 2vw;
    width: 20vw;
    /* align-content: flex-start; */
    display: flex;
    flex-direction: row;
   align-content:space-between


}

/* .dinnerdinner {

} */

.product {
    /* opacity: 0.85; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    /* width: fit-content; */
    /* width: 100%; */
    padding: 1vh 1vw;
    align-content: center;
    margin: 1vh 1vw;
}

.orderitems{
   
    margin-right: 5vw;
    width: 40vw;
    /* height: 70vh; */
    /* background-color: aquamarine; */
    margin-top: 5vh;
    margin-left: 5vw;
    overflow: scroll; 
}

.headerOrder{
    display: flex;
    justify-content: space-between;
    background-color: #334249;
    font-size: x-large;
    color:#fff;
}
.description{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #BCB7BD;
}

.totalOrder{
    /* display: flex;
    position: fixed; */
    bottom: 5vh;
    background-color: #334249;
    width: 38vw;
    justify-content: space-between;
    padding-right: 2vw;
    color: #fff;
    
}
.confirmOrden{
    display: flex;
    justify-items: end;
}

.confirmOrdenButton{
    margin-right: 2vw;
    margin-bottom: 2vw;
    background: #7F9B72;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px; 
}